* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
}
/* Header */
header {
	height: 200px;
	background: url(../images/mascotas.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-height: 475px;
}
.logo {
	display: none;
}
.titulo-principal {
	text-align: center;
}
.nav-links {
	list-style: none;
}
.nav-links .link {
	padding: 2px 0 2px 0;
}
.nav-links .link a {
	text-decoration: none;
}
@media (min-width: 768px) {
	.logo {
		display: block;
	}
	header {
		text-align: start;
		height: 250px;
		display: flex;
		justify-content: space-between;
		padding: 16px;
	}
	.nav-links .link {
		padding: 4px 0 4px 0;
	}
}
@media (min-width: 1024px) {
	header {
		height: 310px;
	}
}
@media (min-width: 1280px) {
	header {
		height: 355px;
	}
}
@media (min-width: 1440px) {
	header {
		height: 400px;
	}
}
@media (min-width: 1600px) {
	header {
		height: 410px;
	}
}
@media (min-width: 1650px) {
	header {
		height: 420px;
	}
}

@media (min-width: 1750px) {
	header {
		height: 470px;
	}
}
/* Fin Header */

/* Contenido Principal */
.contenido-principal {
	padding: 0 12px 0 12px;
}

.contenido-principal article {
	padding: 16px 0 8px 0;
}

.contenido-principal article h2 {
	margin-bottom: 16px;
	text-align: center;
}

.contenido-principal article h3 {
	margin-bottom: 8px;
}

.contenido-principal article ul {
	margin-left: 36px;
}

.contenido-principal article ul li {
	margin-bottom: 8px;
}
/* Fin Contenido Principal */
/* Aside */
aside {
	padding: 0 12px 0 12px;
}

aside h4 {
	text-align: center;
	margin-bottom: 8px;
}

aside ul {
	margin-left: 36px;
}

aside ul .mes-titulo,
aside ul .anio-titulo {
	margin-bottom: 8px;
}

.meses li,
.anios li {
	margin-bottom: 6px;
}
/* Fin Aside */

footer {
	text-align: center;
	padding: 12px;
	font-weight: bold;
	align-self: self-end;
}

/* Body grid */
@media (min-width: 768px) {
	body {
		height: 100vh;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}
	header {
		grid-column: 1 / 13;
		margin: 0;
	}
	.contenido-principal {
		grid-column: 1 / 9;
		grid-row: 2/6;
		padding-top: 0;
	}
	aside {
		grid-column: 9 / 13;
	}
	footer {
		grid-column: 1 / 13;
		grid-row: 6/7;
	}
}

@media (min-width: 1024px) {
	.contenido-principal {
		grid-column: 1 / 10;
	}
	aside {
		grid-column: 10 / 13;
	}
}

@media (min-width: 1280px) {
	.contenido-principal {
		padding: 0 80px;
	}
}

@media (min-width: 1440px) {
	.contenido-principal {
		padding: 0 160px;
		grid-column: 1 / 11;
	}
	aside {
		grid-column: 11 / 13;
	}
}
