<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Pet Service | Contacto</title>
	</head>
	<body>
		<header>
			<div>
				<img
					src="../static/images/huella.png"
					alt="huella-logo-principal"
					title="Huella"
					width="40"
					height="40"
				/>
			</div>

			<h1>Servicio de Mascotas</h1>

			<nav>
				<ul>
					<li><a href="./index.html">Inicio</a></li>
					<li><a href="./productos.html">Productos</a></li>
					<li><a href="./consejosdesalud.html">Consejos de Salud</a></li>
					<li><a href="./serviciodepaseos.html">Servicio de paseos</a></li>
					<li><a href="./sucursales.html">Sucursales</a></li>
					<li><a href="./contacto.html">Contáctanos</a></li>
				</ul>
			</nav>
		</header>

		<!-- CONTACTO -->
		<section>
			<section>
				<h2>Contáctenos</h2>
				<p>3915 Av. General Belgrano, 388-4999999</p>
				<p>Lunes a Viernes: 9:00 a.m a 8:00 p.m</p>
				<p>Sábado a Domingo: 9:00 a.m a 12:30 p.m</p>
				<p>contactos@mail.com.ar</p>
				<ul>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Instagram</a></li>
					<li><a href="#">Twitter</a></li>
				</ul>
				<hr />
				<form>
					<label for="nombre">Nombre</label>
					<input type="text" name="nombre" id="nombre" />
					<br /><br />
					<label for="email">Email</label>
					<input type="email" name="email" id="email" />
					<br /><br />
					<label for="ciudad">Ciudad</label>
					<input type="text" name="ciudad" id="ciudad" />
					<br /><br />
					<label for="mensaje">Mensaje</label>
					<textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
					<br /><br />
					<button type="submit">Enviar</button>
				</form>
			</section>
		</section>

		<aside>
			<h4>Opiniones de usuarios</h4>
			<ul>
				<li>Por Mes</li>
				<ul>
					<li><a href="#">Abril</a></li>
					<li><a href="#">Marzo</a></li>
					<li><a href="#">Febrero</a></li>
					<li><a href="#">Enero</a></li>
				</ul>

				<li>De años anteriores</li>
				<ul>
					<li><a href="#">2022</a></li>
					<li><a href="#">2021</a></li>
					<li><a href="#">2020</a></li>
					<li><a href="#">2019</a></li>
				</ul>
			</ul>
		</aside>

		<footer>
			<p>
				Copyright 2023 - Pets - Diseñado por Grupo 25 – Jujuy – República
				Argentina
			</p>
		</footer>
	</body>
</html>
