<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" th:href="@{/css/estilos.css}" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<title>Pet Service | Productos</title>
</head>

<body>
	<header th:replace="~{layouts/header :: header}"></header>

	<!-- MAIN -->
	<section class="contenido-principal">


		<div class="row justify-content-between align-items-center">
			<a th:href="@{/productos/nuevo-producto}" class="btn btn-primary fw-bold col-2 "> <span>+</span> Nuevo producto</a>

			<!-- Buscarrrr -->
			<div class="col-auto">

				<form class="row" method="post" th:object="${producto}" th:action="@{/productos/buscar}">

					<div class="col-auto">
						<input type="text" class="form-control" id="inputBuscar" placeholder="Buscar por nombre"
							th:field="*{nombre}" required>
					</div>
					<div class=" col-auto">
						<input type="submit" value="Buscar" class="btn btn-success mb-3">
					</div>
				</form>
			</div>
		</div>
		<h2 class="titulo-centralizado">Productos en stock</h2>
		<div class="container">
			<div class="row g-4">

				<div class="col-sm-6 col-lg-4" th:each="prod : ${productos}">
					<div class="card  ">
						<div class="card-body ">
							<h5 th:text="${prod.nombre}" class="card-title"></h5>
							<p class="card-text ">Categoria: <span th:text="${prod.categoria}"></span></p>
							<p class="card-text">Descuento: <span th:text="${prod.descuento}"></span>%</p>
							<p class="card-text">Precio Final: $<span th:text="${prod.calcularDescuento}"></span>
							</p>
							<div class="d-flex justify-content-between">
								<a th:href="@{/productos/modificar/}+${prod.nombre}"
									class="btn btn-secondary text-white fw-bold">Modificar</a>
								<a th:href="@{/productos/eliminar/}+${prod.nombre}" class="btn btn-danger fw-bold">Eliminar</a>
							</div>
						</div>
					</div>
				</div>

				<!-- Buscar | Productos encontrados -->
				<div th:if="${buscar}" class="row">
					<div class="col-sm-6 col-lg-4" th:each="producto : ${productosEncontrado}">
						<div class="card">
							<div class="card-body ">
								<h5 th:text="${producto.nombre}" class="card-title"></h5>
								<p class="card-text ">Categoria: <span th:text="${producto.categoria}"></span></p>
								<p class="card-text">Descuento: <span th:text="${producto.descuento}"></span>%</p>
								<p class="card-text">Precio Final: $<span th:text="${producto.calcularDescuento}"></span>
								</p>
								<div class="d-flex justify-content-between">
									<a th:href="@{/productos/modificar/}+${producto.nombre}"
										class="btn btn-secondary text-white fw-bold">Modificar</a>
									<a th:href="@{/productos/eliminar/}+${producto.nombre}"
										class="btn btn-danger fw-bold">Eliminar</a>
								</div>
							</div>
						</div>
					</div>
					<div th:if="${productosEncontrado.size() == 0}">
						<p class="border border-danger text-danger py-2 px-4 rounded">No se encontraron coincidencias.</p>
					</div>


				</div>

				<div th:if="${buscar}">
					<a th:href="@{/productos/listado}" class="btn btn-success mt-4">Volver</a>
				</div>

			</div>
	</section>

	<aside th:replace="~{layouts/aside :: aside}"></aside>

	<footer th:replace="~{layouts/footer :: footer}"></footer>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>