<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" th:href="@{/css/estilos.css}" />
		<title>Pet Service | Productos</title>
	</head>
	<body>
		<header th:replace="~{layouts/header :: header}"></header>

		<!-- MAIN -->
		<section class="contenido-principal">
			 <a th:href="@{/productos/nuevo-producto}">Nuevo producto</a> 
			<h2 class="titulo-centralizado">Productos en stock</h2>
			<div class="productos">
				<div class="producto">
					<p class="titulo-producto"><b>Shampoo antiseptico</b></p>
					<img
						class="imagen-consejo"
						th:src="@{/images/shampoo.jpg}"
						alt="shampoo-antiseptico"
						height="150"
						width="150"
					/>
					<p class="titulo-principal">Antimicrroductoítico, Antipruriginoso.</p>
				</div>

				<div class="producto">
					<p class="titulo-producto"><b>Jabon Pulguicida</b></p>
					<img
						class="imagen-consejo"
						th:src="@{/images/jabon.webp}"
						alt="jabon-pulguicida"
						height="150"
						width="150"
					/>
					<p class="titulo-principal">
						Jabon pulguicida de caninos y felinos, tanto para pieles sanas como con problemas.
					</p>
				</div>

				<div class="producto">
					<p class="titulo-producto"><b>Correa y Collar Premium</b></p>
					<img
						class="imagen-consejo"
						th:src="@{/images/correa-y-collar.webp}"
						alt="correa-collar"
						height="150"
						width="150"
					/>
					<p class="titulo-principal">
						Correa Producto acolchonado Premium Rascals y un Collar Perro Pequeño Acolchonado.
					</p>
				</div>

				<div class="producto">
					<p class="titulo-producto"><b>Cepillo para perros y gatos</b></p>
					<img
						class="imagen-consejo"
						th:src="@{/images/cepillo.jpeg}"
						alt="cepillo"
						height="150"
						width="150"
					/>
					<p class="titulo-principal">
						Cepillo de pelo largo e intermedio, equipado con púas inclinadas de acero inoxidable.
					</p>
				</div>

				<div class="producto">
					<p class="titulo-producto">
						<b>Juguete Para Perro - Hueso de Soga Anti Estres</b>
					</p>
					<img
						class="imagen-consejo"
						th:src="@{/images/juguete-soga.webp}"
						alt="cepillo"
						height="150"
						width="150"
					/>
					<p class="descripcion-producto">
						Diseño novedoso - Resistente al agua - No tiene materiales toxicos - Antiestres
					</p>
				</div>
			</div>

			<section>
				<ul th:each="prod : ${productos}">
					<li th:text="${prod.nombre}"></li>
				</ul>
			</section>
		</section>

		<aside th:replace="~{layouts/aside :: aside}"></aside>

		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</body>
</html>
