<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" th:href="@{/css/estilos.css}" />
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<title>Pet service | Paseos</title>
	</head>
	<body>
		<header th:replace="~{layouts/header :: header}"></header>
			
		</header>
		<section class="contenido-principal">
			<div class="servicios"> <!-- POR AHORA NO -->
			<h2 class= "titulo-services">Servicios de Paseos</h2>
			<h3 class="h3">
				A continuación te presentamos los días y horarios disponibles de
				nuestros paseadores:
			</h3>
			<div class="tabla-services">
			<table  class="table table-striped" >
				<tr>
					<th>Dia</th>
					<th>Lunes</th>
					<th>Martes</th>
					<th>Miercoles</th>
					<th>Jueves</th>
					<th>Viernes</th>
					<th>Sabado</th>
				</tr>
				<tr>
					<td>Horario</td>
					<td>9 a 12 - 16 a 18</td>
					<td>9 a 12 - 16 a 18</td>
					<td>9 a 12 - 16 a 18</td>
					<td>9 a 12 - 16 a 18</td>
					<td>9 a 12 - 16 a 18</td>
					<td>9 a 12 - 16 a 18</td>
				</tr>
				<tr>
					<td>Paseador</td>
					<td>Leo Soza</td>
					<td>Mauro Chayle</td>
					<td>Leo Somoza</td>
					<td>Juan Perez</td>
					<td>Jose Lopez</td>
					<td>Lean Chayle</td>
				</tr>
			</table>
			</div>
		</section>
		</div>
		<aside th:replace="~{layouts/aside :: aside}"></aside>

		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</body>
</html>
