<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Header</title>
	</head>
	<body>
		<header th:fragmet="header">
			<div class="logo">
				<img
					th:src="@{/images/huella.png}"
					alt="huella-logo-principal"
					title="Huella"
					width="40"
					height="40"
				/>
			</div>

			<h1 class="titulo-principal">Servicio de Mascotas</h1>

			<nav>
				<ul class="nav-links">
					<li class="link"><a th:href="@{/}">Inicio</a></li>
					<li class="link"><a th:href="@{/productos/listado}">Productos</a></li>
					<li class="link">
						<a href="./consejosdesalud.html">Consejos de Salud</a>
					</li>
					<li class="link">
						<a href="./serviciodepaseos.html">Servicio de paseos</a>
					</li>
					<li class="link"><a th:href="@{/sucursales/listado}">Sucursales</a></li>
					<li class="link"><a th:href="@{/contacto}">Contáctanos</a></li>
				</ul>
			</nav>
		</header>
	</body>
</html>
